<style>
	.nb {
		display: flex;
		list-style-type: none;
		margin-block-start: 0px;
		margin-block-end: 0px;
		padding-inline-start: 0px;
	}

	.nb li {
		margin-left: 10px;
		margin-right: 10px;
	}
</style>

<div style="width: 100%;">
	<ul class="nb">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/profile">Profile</a>
		</li>
		<li>
			<a href="/spaces/explore">Explore</a>
		</li>
	</ul>
</div>