<div class="text-center">
	<h1>Log In</h1>

	{{#if message}}

	<b>{{message}}</b>

	{{/if}}

	<h3>
		<a href="/auth/google/login">Google</a>
	</h3>

	<h3>
		<a href="/auth/ion/login">Ion</a>
	</h3>
</div>