<div class="text-center">
	<h1>Log In</h1>

	{{#if message}}

	<b>{{message}}</b>

	{{/if}}

	<h2>Options</h2>

	<a href="/auth/google/login">Log in with Google</a><br />

	<a href="/auth/ion/login">Log in with Ion</a><br />
</div>