<div class="text-center">
	<h1>
		{{name}}
	</h1>
	<i>
		Created by {{createdBy}}
	</i>

	<div id="here">
		<b>Here</b><br />

	</div>
</div>

{{!-- Socket.io scripts --}}
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script type="text/javascript">
	const SPACE_ID = "{{spaceId}}";
	const socket = io("/");
	const peers = {};
	socket.emit("join space", SPACE_ID);

	socket.on("peer join", () => {
		document.getElementById("here").innerHTML += "Peer joined<br/>";
	});

	socket.on("peer leave", () => {
		document.getElementById("here").innerHTML += "Peer left<br/>";
	});
</script>